


@media (max-width:1250px) {
  header.header nav h1 {position: relative; left:30px;}
  .sec1_wide {padding: 170px 30px 0 30px;}

  .conts_heading.process{padding-left: 20px;}
  section.sub8_sec2 .sub8_sec2_inner .icon_list .icon_item {padding-bottom: 25px; margin-bottom: 30px;}
  section.sub8_sec2 .sub8_sec2_inner .icon_list .icon_item:after {margin-right:0; bottom:0; left:0; content:"\e942";}
  section.sub8_sec2 .sub8_sec2_inner .icon_list .icon_item:last-child:after{display: block;}
  section.sub8_sec2 .sub8_sec2_inner .icon_list .icon_item:first-child:after {display: none;}

}

@media (max-width:768px) {
  header div.fixed_menu {opacity: 1;}
  header.header nav ul{ position: fixed; flex-direction: column; height: 100vh; width: 100%; justify-content: space-around; padding: 20vh 0;   clip-path:circle(100px at 90% 10%);  -webkit-clip-path:circle(100px at 90% 10%); transition: all 0.5s ease-out; transition-timing-function: cubic-bezier(.39,.38,.3,1.17); pointer-events: none;  opacity: 0; background:#000;}
  header.header nav>ul.open { clip-path:circle(1100px at 90% 10%);  -webkit-clip-path:circle(1300px at 90% 10%); pointer-events: all; opacity: 1;}
  header.header nav>ul>li { opacity: 0; border-bottom: 3px solid #fff;}
  header.header nav ul li:hover {border-color:var(--primary); }
  header.header nav ul li:hover a {color: var(--primary);}
  header.header nav ul li.fade {opacity: 1;}
  header.header nav ul li a {}
  /* mobile sub-manu */
  header.header nav ul.sub-menu {display: none;}
  header nav ul.sub-menu.sub_menu_view  {display: block;}

  header nav ul.sub-menu.sub_menu_view {height: auto;}
  header.header.fix_menu nav ul.sub-menu {margin-top:0 !important; position: relative; display: block;}
  header.header nav ul.sub-menu {position: relative; margin-top:0; }
  header.header nav ul.sub-menu li {display: inline-block; width:auto;}
  header.header nav ul.sub-menu li:first-child  {margin-top:0;}
  header.header nav ul.sub-menu li a {color:#fff;}

  /* 메인 */
  .sec1_wide {padding: 170px 0 0 0;}
  div.sec1_wide .desc {max-width: 100%; padding:0 30px;}
  ul.main_icons { padding: 0 30px; flex-wrap:wrap;}
  ul.main_icons .main_icons_item { width: 100%; max-width: 100%; flex:none; margin-bottom: 30px;}
  ul.main_icons .main_icons_item .tit {font-size: 24px;}
  ul.main_icons .main_icons_item .desc {font-size: 16px;}
  div.call_banner .call_banner_txt {max-width:none; width: 100%; padding: 0  15px; }
  div.call_banner .call_banner_txt strong {line-height: 1;}

  div.big_heading {max-width:100%; margin: 0 auto; text-align: center; color:#fff;}
  div.big_heading h2{ font-size: 55px;}
  div.big_heading p {font-size: 25px; text-align: center;}

  /* 회사위치 */
  section.sub3_sec2 .ride_list {padding-bottom: 0;}
  section.sub3_sec2 .ride_list li .item  {margin-bottom: 55px;}
  /* 사업분야 */
  section.sub2_sec1 .img_box {width: 100%;  margin:0 auto;}
  section.sub2_sec1 .img_box img {width: 100%;}
  section.sub11_sec1 .supports > div {width: 100%; margin-bottom: 25px;}
}

@media (max-width:500px) {

  footer.footer {}
  footer.footer .footer_inner {flex-direction: column; padding: 0 15px;}
  footer.footer .footer_inner .file_down {order:2; margin: 25px 0 20px 0;;}
  footer.footer .footer_inner .sns {order:3; padding: 8px;}
  footer.footer .copy {padding: 0 15px; margin-top: 25px;}
  /* suppage */
  div.showcase_tit {font-size: 18px;}
  div.showcase_tit strong {font-size: 20px;}

  .sub_page_heading h2,.sub_page_heading h3 {font-size: 30px;}
  .sub_page_heading p {font-size: 18px;}
  .swiper-button-next,.swiper-button-prev {display: none !important;}
  .timeline{margin-left: 0;}
  .timeline .event {margin: 8px 0;}
  .timeline .event:before { position: relative; left:0; text-align: left;}

}
