
/* Timeline */
.timeline {
  border-left: 4px solid var(--primary);
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  background: rgba(255, 255, 255, 0.03);
  margin: 50px auto;
  position: relative;
  line-height: 1.4em;
  padding: 50px;
  list-style: none;
  text-align: left;
  font-weight: 100;
  max-width: 100%;
  position: relative;
  margin-left: 170px;
}
.timeline h3 {
  font-weight: 400;
}
.timeline .event {
  border-bottom: 1px dashed rgba(255, 255, 255, 0.1);
  padding-bottom: 25px;
  margin-bottom: 50px;
  position: relative;
}
.timeline .event:last-of-type {
  padding-bottom: 0;
  margin-bottom: 0;
  border: none;
}
.timeline .event:before,
.timeline .event:after {
  position: absolute;
  display: block;
  top: 0;
}
.timeline .event:before {
  left: -217.5px;
  color: #222;
  content: attr(data-date);
  text-align: right;
  font-size: 16px;
  min-width: 120px;
  font-weight: 400;
}
.timeline .event:after {
  box-shadow: 0 0 0 4px var(--primary);
  left: -57.85px;
  background: #fff;
  border-radius: 50%;
  height: 11px;
  width: 11px;
  content: "";
  top: 5px;
}
